@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


 *{
     font-family: 'Poppins', sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     scroll-padding-top: 4rem;
     scroll-behavior: smooth;
     list-style: none;
     text-decoration: none;
}
.contato{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('bg.png') ;
    background-size: cover;
}
.contato .content{
    max-width: 800px;
    text-align: center;
}
.contato .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #C0C0C0;
    text-align:center;
}
.contato .content p{
font-weight: 300;
color:#C0C0C0;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .Infocontato{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .Infocontato .box{
    position: relative;
    padding:20px 0;
    display: flex;
}
.container .Infocontato .box .icon-celular {
    min-width: 60px;
    height: 60px;
    display: flex;
  background:url('Icones/Celular.png');
    background-size:cover;
    justify-content: center;
    align-items: center;
    border-radius: 50% ;
    font-size: 22px;
}
.container .Infocontato .box .icon-local {
    min-width: 60px;
    height: 60px;
    display: flex;
  background:url('Icones/Home.png');
    background-size:cover;
    justify-content: center;
    align-items: center;
    border-radius: 50% ;
    font-size: 22px;
}
.container .Infocontato .box .icon-email{
    min-width: 60px;
    height: 60px;
    display: flex;
  background:url('Icones/Email.png');
  background-size:cover;
    justify-content: center;
    align-items: center;
    border-radius: 50% ;
    font-size: 22px;
}
.container .Infocontato .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:  rgb(128,128,128);
    flex-direction: column;
    font-weight: 300;
}
.container .Infocontato .box .text h3{
  font-weight: 500;
    color: #d4af37;

}
.contact-form{
    width: 40%;
    padding: 40px;
  background:transparent;
    background-color: rgba(0, 0, 0, 0.5);   
}
.contact-form h2{
    font-size: 30px;
    color: #C0C0C0;
    font-weight: 500;
}
.contact-form .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;

}
.contact-form .inputBox input, 
.contact-form .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
   margin: 10px 0;
    border: none;
    color:white;
  background:transparent;
    border-bottom: 2px solid rgb(128,128,128);
    outline: none;
    resize: none;   
}
.contact-form .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: rgb(128,128,128);
}
.contact-form .inputBox input:focus~span,
.contact-form .inputBox input:valid~span,
.contact-form .inputBox textarea:focus~span,
.contact-form .inputBox textarea:valid~span{
    color: #d4af37;
    font-size: 12px;
    transform: translateY(-20px);

}
.contact-form .inputBox input[type="submit"]{
    width: 100%;
    background: #d4af37;
    color: #333;
    border: none;
    cursor: pointer;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
}
.contact-form .inputBox input[type="submit"]:hover{
    background-color: rgb(186, 146, 17);
    cursor:pointer;
}
@media(max-width:991px){
    .contato{
        padding: 50px;
    }
    .container{
        flex-direction:column;
    }
    .container .Infocontato{
        margin-bottom:40px;
    }
    .container .Infocontato, .contact-form{
        width:100%;    
    }

}
.alert-success{
  z-index: 1;
  background: #D4EDDA;
  font-size: 18px;
  padding: 20px 40px;
  min-width: 420px;
  position: fixed;
  right: 0;
  top: 10px;
  border-left: 8px solid #3AD66E;
  border-radius: 4px;
}

.alert-error{
  z-index: 1;
  background: #FFF3CD;
  font-size: 18px;
  padding: 20px 40px;
  min-width: 420px;
  position: fixed;
  right: 0;
  top: 10px;
  border-left: 8px solid #FFA502;
  border-radius: 4px;
}
      
   
