@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.5% !important;
    scroll-behavior: smooth;

    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    height: 100% !important;
}

body{
    height: 100% !important;
    font-size: 1.4rem;
    /*background: linear-gradient(68.15deg, #564144 16.62%, #8E5D52 85.61%);*/
}


section {
    width: 100%;
    min-height: calc(100vh - 95px);
}

.cabecalho {
    width: 100%;
    height: 95px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px 20px 60px;
    background: #5f373f;
    background: linear-gradient(0deg, #2d1d1d 16.62%, #56323a 85.61%);
    /*background: #2d1d1d;*/
    position: fixed;
    border-bottom: 0.4px solid #FFC75F;
}

#left-menu-destkop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /*padding: 24px;*/
}

.cabecalho-imagem {
    height: 72px;
    /*padding: 10px;*/
    margin-right: 50px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
    /*padding: 24px;*/
    margin-left: 10px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 2rem;
}

.conteudo {
    /*margin-bottom: 48px;*/
    border-top: 0.4px solid #FFF2E7;
}

.conteudo-inicio {
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #ebe085;
    background: linear-gradient(68.15deg, #564144 16.62%, #8E5D52 85.61%);

    padding: 35px;
}

.conteudo-inicio-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-inicio-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 5rem;
    color: #FFF2E7;
}

.conteudo-inicio-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 2.3rem;
    color: #ECD6C4;
}

.conteudo-inicio-escrito-botao {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0,0,0,0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
}

.conteudo-inicio-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-inicio-imagem {
    height: 430px;
}

.conteudo-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    gap: 24px;
    /*margin-top: 48px;*/
    background-color: #6780ac;
}

.conteudo-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color:#FFF2EF;
    margin-bottom: 16px;
}

.conteudo-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
    background: linear-gradient(68.15deg, #564144 16.62%, #8E5D52 85.61%);
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;
}

.conteudo-cardapio {
    /*align-items: center;*/
    justify-content: center;
    background-color:#aad4b3
}

/*.mobile-menu {
    cursor: pointer;
}

.mobile-menu div {
    width: 32px
    height: 2px;
    background-color: #FFF;
    margin: 8px
}
*/
a.anchor {
    display: block;
    position: relative;
    top: -95px;
    visibility: hidden;
    height: 0px;
}
/* Estilo Contato*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


#contato-section {
    background: url('img/bg.png') ;
    
}

#contato-content {
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    font-weight: 300;
    color:#C0C0C0;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    min-height: calc(100vh - 95px);
    gap: 30px;
    
}

.contato-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    text-align: center;
}


.contato-titulo {
    font-family: Arial;
    font-size: 40px;
    height: 50px;

    font-weight: 500;
    color: #C0C0C0;

    margin-top: -8px;

    /*text-align: center;
    padding-top: 20px;
    font-weight: 500;*/
}

.contact-form{
    width: 100%;
    padding: 40px;
    background:transparent;
    background-color: rgba(0, 0, 0, 0.5);   
}
.contact-form h2{
    font-size: 20px;
    color: #C0C0C0;
    font-weight: 500;
}
.contact-form .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;

}
.contact-form .inputBox input, 
.contact-form .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 12px;
    margin: 10px 0;
    border: none;
    color:white;
    background:transparent;
    border-bottom: 2px solid rgb(128,128,128);
    outline: none;
    resize: none;   
}
.contact-form .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: rgb(128,128,128);
}
.contact-form .inputBox input:focus~span,
.contact-form .inputBox input:valid~span,
.contact-form .inputBox textarea:focus~span,
.contact-form .inputBox textarea:valid~span{
    color: #d4af37;
    font-size: 12px;
    transform: translateY(-20px);

}
.contact-form .inputBox input[type="submit"]{
    width: 100%;
    background: #d4af37;
    color: #333;
    border: none;
    cursor: pointer;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
}
.contact-form .inputBox input[type="submit"]:hover{
    background-color: rgb(186, 146, 17);
    cursor:pointer;
}

.contato-text{
    display: flex;
    flex-direction: column;
}

.contato-topico h3 {
    font-size: 20px;
    font-weight: 500;
    color: #d4af37;
}

#contato-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.contato-body-container{
    width: 40%;
    min-width: 350px;
    max-width: 700px;
}

#contato-esquerda-container{
    
    width: 40%;
    min-width: 350px;
    max-width: 700px;


    display: flex;
    flex-direction: column;
    align-items: center;
}
#contato-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 35px;
}

.contato-topico{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 5px;
}


.contato-topico h3{
    font-weight: 500;
    color: #d4af37;
}


.contato-topico p{
    font-weight: 300;
    color:rgb(128,128,128);
    font-size: 16px;
    line-height: 1.25em;
}


@media(max-width:991px){

    .conteudo-inicio {
        padding-top: 130px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    #contato-content{
        padding-top: 10px;
        padding-bottom: 40px;
    }

    #contato-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 70px;
    }


    /*
    Coisas do menu
    */

    .cabecalho-imagem {
        height: 30px;
        /*padding: 10px;*/
        margin-right: 20px;
    }
    
    .cabecalho-menu {
        display: flex;
        gap: 10px;
        /*padding: 24px;*/
        margin-left: 10px;
    }
    
    .cabecalho-menu-item {
        font-family: 'Sarala', sans-serif;
        color: #FFF2E7;
        font-weight: 400;
        font-size: 0.85rem;
    }


}


.alert-success{
  z-index: 1;
  background: #D4EDDA;
  font-size: 18px;
  padding: 20px 40px;
  min-width: 420px;
  position: fixed;
  right: 0;
  top: 10px;
  border-left: 8px solid #3AD66E;
  border-radius: 4px;
}

.alert-error{
  z-index: 1;
  background: #FFF3CD;
  font-size: 18px;
  padding: 20px 40px;
  min-width: 420px;
  position: fixed;
  right: 0;
  top: 10px;
  border-left: 8px solid #FFA502;
  border-radius: 4px;
}